/****************************************************/
/* STYLE CUSTOMIZATION                               /
/****************************************************/

.trumbs-podcast {
  width: 156px;
  height: 156px;
}

.limit-5-lines {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.timeline-image:hover {
  border: 7px solid #ffc800 !important;
}

.center-mid {
  display: flex;
  text-align: center;
  justify-content: center;
}

#mainNav.navbar-note {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  background-color: #212529 !important;
}

@media (max-width: 1199px) {
  .trumbs-podcast {
    width: 136px;
    height: 136px;
  }
}
@media (max-width: 991px) {
  .trumbs-podcast {
    width: 86px;
    height: 86px;
  }
  /* .navbar-brand {
    display: none ;
  } */
}
@media (max-width: 767px) {
  .trumbs-podcast {
    width: 66px;
    height: 66px;
  }

}



#mainNav .navbar-brand {
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
}


  #mainNav .navbar-brand .logo_main {
    height: 2rem;
    width: 2rem;
    background-image: url("../assets/img/logos/logo_white.svg");
    margin-right: 8px;
  }


#mainNav .logo_main {
  /* height: 5rem;
  width: 5rem;
  text-align: center;
  color: #fff;
  background-image: url("../assets/img/logos/logo_black.svg");
  height: 5rem;
  width: 5rem;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out; */
}

@media (min-width: 992px) {

#mainNav .navbar-brand {
  background-color: white;
  color: #212529;  
  width: 105px;
  height: 100px;
  position: absolute;
  top: 0;

  display: block;

  transition: 0.3s;

  
  font-size: 10px;

  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  letter-spacing: 0.0625em;
  text-transform: uppercase;

  box-shadow: 0 0 0 0.25rem #212529;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  text-align: center;
}


  #mainNav .navbar-brand .logo_main {
    background-image: url("../assets/img/logos/logo_black.svg");
    height: 5rem;
    width: 5rem;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    
  }


  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    /* position: relative;

      display: flex;
      text-align: center;
      justify-content: center;
      width: unset;
      height: unset;
      color: white;
      background-color: transparent; */

      position: relative;

      margin-top: 5px;
      transition: 0.3s;

        width: 300px;
      height: 45px;
      box-shadow: none;

       display: flex;
      text-align: center;
      justify-content: center;
      background-color: transparent;
      color: white;

  }

  #mainNav.navbar-shrink .navbar-brand .logo_main {
    height: 2rem;
    width: 2rem;
    background-image: url("../assets/img/logos/logo_white.svg");
    margin-right: 8px;

    transition: 0.3s;
  }
}